# Programming Assignment 1

# Part 3

In [1]:
import pandas as pd

In [3]:
users = pd.read_csv('users.csv')

In [8]:
users.shape
# Number of Observations = 943
# Number of Columns = 5

(943, 5)

In [11]:
# Names of all the columns
users.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [13]:
# Indexing
users.index

RangeIndex(start=0, stop=943, step=1)

In [16]:
# Data type of each column
users.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [26]:
# Occupation column
users['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

In [33]:
# No of different occupations
len(users.occupation.unique())

21

In [48]:
# Most Frequent Occupation
freq = users['occupation'].value_counts()
occupation = pd.DataFrame(freq)
occupation.head(1)

         occupation
student         196

In [49]:
# Summarize
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [50]:
users['age'].describe()

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64

In [54]:
users['gender'].describe()

count     943
unique      2
top         M
freq      670
Name: gender, dtype: object

In [55]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [57]:
users['zip_code'].describe()

count       943
unique      795
top       55414
freq          9
Name: zip_code, dtype: object