# Programming Assignment 1

# Part 1

In [2]:
import pandas as pd

In [3]:
fruit = pd.DataFrame({'Apple':[30], 'Banana':[21]})

fruit

   Apple  Banana
0     30      21

In [4]:
fruits = pd.DataFrame({'Apple':[35, 41], 'Banana':[21, 34]}, index=['2017 Sales', '2018 Sales',])

fruits

            Apple  Banana
2017 Sales     35      21
2018 Sales     41      34

In [5]:
dinner = pd.Series({'Flour':'4 cups', 'Milk':'1 cup', 'Eggs':'2 large', 'Spam':'1 can'}, name='Dinner')

dinner

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [6]:
#Exporting Dataframe to csv

df_test = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])

df_test.to_csv('pets.csv', encoding='utf-8', index=True)

What is index in pandas?  What is Boolean Indexing ? Give syntax example.


Index:

Index is like an address, that’s how any data point across the dataframe or series can be accessed. 
Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. 

Boolean Index:

In boolean indexing, we select subsets of data based on the actual values of the data in the 
DataFrame and not on their row/column labels or integer locations.

In order to access a dataframe with a boolean index, we have to create a dataframe in which index 
of dataframe contains a boolean value that is “True” or “False”.

Example:
  
#creating a dataframe with boolean index  
df = pd.DataFrame(dict, index = [True, False, True, False]) 
  
#accessing a dataframe using .loc[] function  
print(df.loc[True])